<%- include('../includes/head')%> <%- include('../includes/nav')%>
<main>
  <% if(prods.length > 0 && prods != ""){%>
  <div class="grid-oversee">
    <div class="grid">
      <% prods.forEach((product)=>{%>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= product.title %></h1>
        </header>
        <div class="card__image">
          <img src="<%=product.imageUrl%>" alt="<%=product.title%>" />
        </div>
        <div class="card__content">
          <h2 class="product__price">$<%= product.price%></h2>
          <p class="product__description"><%=product.description%></p>
        </div>
        <div class="card__actions">
          <button class="btn"><a href="/admin/edit-product">Edit</a></button>
          <form action="/admin/delete-product" method="post">
            <button class="btn" type="submit">Delete</button>
          </form>
        </div>
      </article>
      <% }) %>
    </div>
  </div>
  <% } else {%>
  <h1>No more Products</h1>
  <%}%>
</main>
<%- include('../includes/footer')%>
